.board {
  background-image: url("assets/board.jpg");
  background-size: contain;
  position: relative;
}

.boardElement {
  z-index: 4;
  position: absolute;
  background-size: contain;
}

.boardElement img {
  width: 100%;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.tok-marker {
  z-index: 10;
}